#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

DEB_QMAKE_ARGS := RELEASE=0 PREFIXDIR=/usr CLEBS_DISABLED=libusb10connection

install/igotu2gpx::
	rm debian/igotu2gpx/usr/lib/*.so
	rm debian/igotu2gpx/usr/share/doc/igotu2gpx/LICENSE

$(patsubst %,binary-install/%,$(DEB_PACKAGES)) :: binary-install/%:
	$(if $(wildcard /usr/bin/dh_desktop),dh_desktop -p$(cdbs_curpkg))
	$(if $(wildcard /usr/bin/dh_icons),dh_icons -p$(cdbs_curpkg))

