[Desktop Entry]
Name=i-gotU GPS travel logger Interface
Comment=Transfers data from i-gotU GPS trackers
Exec=igotugui
StartupWMClass=igotugui
Terminal=false
Type=Application
Icon=igotu2gpx-gui
Categories=Qt;Utility;Photography;
